@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-size: 100%;
background-color: #F5F5F5;
}

.cabeçalho{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';

}
.cabeçalho-home{
    width: 64px; 
}
.cabeçalho-menu{
display: flex;
gap: 25px;

}
.cabeçalho-icones{
    display: flex;
    gap: 13px;
}
.lupa-menu{
    width: 20px;
    height: 20.5px
}
.retangulo-menu{
    width: 20px;
    height: 20.5px
}
.icone-menu{
    width: 20px;
    height: 20.5px
}
     /* header finalizado */
     /* daqui pra baixo são os conteúdos */


.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
    gap: 130px;
    font-family: 'Popins', sans-serif;


 

}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    height: 650px;
     width: 440px;
    gap: 32px; 
   
}
.marvel-character{
    height:0px;
    
}

.subtitulo{
    height: 0px;
}

.titulo{
    font-weight: 700;
    color: #8A2D5E;
    width: 441px;
    height: 93px;
    left: 0px;
    top: 14px;
    font-weight: 700;
     font-size: 80px;

  
    
}




