@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-color: #F5F5F5;
}

.cabeçalho{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';

}
.cabeçalho-home{
    width: 64px; 
}
.cabeçalho-menu{
display: flex;
gap: 25px;

}
.cabeçalho-icones{
    display: flex;
    gap: 13px;
}
.lupa-menu{
    width: 33px;
    height: 25.8px
}
.retangulo-menu{
    width: 20px;
    height: 20.5px
}
.icone-menu{
    width: 20px;
    height: 20.5px
}
     /* header finalizado */
     /* daqui pra baixo são os conteúdos */


.marvel-character{
  height:0px;
  color: #505050;
        
        
 }

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 130px;
    gap: 160px;
    font-family: 'Popins', sans-serif;

}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 440px;
    gap: 10px; 
    
   
}


.titulo{
    font-weight: 700;
    color: #8A2D5E;
    width: px;
    height: 93px;
    left: 0px;
    top: 14px;
    font-weight: 700;
     font-size: 80px;
     

  
    
}


.subtitulo{
    height: 13px;
    width: 100px;
     
    
}


.botao{
    position: absolute;
    top:87%;
    left:10%;
    background-color: #383838;
    padding: 10px;
    text-align: center;
    width: 312px;
    color: white;
    font-family:'Popins'
    
    
    
}
.homem-no-site{
    width: 316px;
    height: 700px;
    left: 785px;
    top: 156.16px;

}
.frase-iron{
   height: 700px;
   width: 89px;
  
}

.texto{
    color: #505050;
   font-weight: 400;
  font-size: 15.71px;
   line-height: 194.5%;
   gap: 10px; 
   height: px;
   

}
.logos-sociais{
     width: 44px;
    height: 200px;
    flex-direction: row-reverse;
   
    

}



